* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.content {
  border-radius: 12px;
  margin: 60px 120px;
  height: 80vh;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: -20px -20px 60px #bebebe, 20px 20px 60px #ffffff;
}
.content-itens {
  /* background-color: blue; */
  height: 80vh;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.login {
  height: 80vh;
  padding-top: 50px;
  padding-right: 60px;
}

.login > p {
  padding-bottom: 30px;
}

.login > img {
  height: 320px;
}

.form-itens {
  padding-top: 60px;
  padding-right: 10px;
  width: 25vw;
  gap: 15px;
  display: flex;
  flex-direction: column;
}
.form-itens > a {
  text-decoration: none;
  color: #708d81;
}
.input-user {
  box-shadow: -20px -20px 60px #bebebe, 20px 20px 60px #ffffff;

  border: none;
  border-radius: 12px;
  padding: 10px;
  opacity: 0.8;
}
.btn-login {
  border: none;
  border-radius: 20px;
  padding: 5px;
  background-color: #001427;
  font-size: 20px;
  color: #f4d58d;
}
.btn-login:hover {
  background-color: #708d81;
  cursor: pointer;
}
.login-md {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
.login-md > p {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.btn-md {
  cursor: pointer;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
